{# templates/emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

Salut {{ name }}! Votre profil à été enregistré sur la plateforme.

{# example, assuming you have a route named "login" #}
Pour gèrer les profils, allez sur: <a href="{{ url('gestionnaire_professeur') }}">la page du gestionnaire</a>.

Thanks!
{# {{ imageconvertie|base64_encode }} #}
{# <img src="{{ imageconvertie|base64_encode }}"  alt=""/> #}
{# <img src="data:image/jpeg;base64,{{ imageconvertie }}"  alt="" width="150" height="150"/> #}
{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('https://www.cloudways.com/blog/wp-content/uploads/image2-97-1.png')) }}">
<img src="public/img/images/vuejs_bootstrap.jpg"  style="width:600px; height:520px;" alt="Luidgi94" >
